[submodule "cjson"]
	path = cjson
	url = https://github.com/DaveGamble/cJSON
[submodule "libmodbus"]
	path = libmodbus
	url = https://github.com/stephane/libmodbus
[submodule "ccronexpr"]
	path = ccronexpr
	url = https://github.com/staticlibs/ccronexpr
[submodule "tinyexpr"]
	path = tinyexpr
	url = https://github.com/zgwit/tinyexpr
